name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  linux:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby-version }}
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', '4.0']
        json-parser: ['JSON', 'Oj', 'Yajl']

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run tests (ubuntu)
      env:
        JSON_PARSER: ${{ matrix.json-parser }}
      run: bundle exec rake

 # hardenedbsd:
 #   runs-on: ubuntu-latest
 #   name: hardenedBSD
 #   steps:
 #   - uses: actions/checkout@v4
 #   - name: Run tests (hardenedBSD)
 #     uses: 0x1eef/hardenedbsd-vm@v1
 #     with:
 #       release: '16-CURRENT'
 #       run: |
 #         mdo -u root pkg-static install -y rubygem-bundler
 #         bundle install
 #         bundle exec rake
